# Assignment on Model Selection

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

## Loading the dataset

In [6]:
titanic_data = pd.read_csv('titanic_dataset(MS).csv')

In [7]:
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Pre-processing Steps

In [9]:
#Drop rows with missing values in 'Embarked'

titanic_data = titanic_data.dropna(subset=['Embarked'])

In [10]:
#Fill missing values in 'Age' with the mean

titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_19136\2053995799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)

In [11]:
#Drop the 'Cabin' column

titanic_data = titanic_data.drop('Cabin', axis=1)

In [12]:
#Convert categorical variables ('Sex' and 'Embarked') to numerical using one-hot encoding

titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'], drop_first=True)

In [13]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Ticket       889 non-null    object
 8   Fare         889 non-null    float64
 9   Sex_male     889 non-null    uint8
 10  Embarked_Q   889 non-null    uint8
 11  Embarked_S   889 non-null    uint8
dtypes: float64(2), int64(5), object(2), uint8(3)
memory usage: 72.1+ KB

### Extract features and target variable

In [14]:
X = titanic_data.drop(['Survived', 'Name', 'Ticket'], axis=1)
y = titanic_data['Survived']

### Spliting the data into training and testing sets

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Standardize features (important for kNN)

In [16]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Creating kNN model

In [17]:
knn_model = KNeighborsClassifier()

## Creating SVM model

In [18]:
svm_model = SVC()

### Define k-fold cross-validation

In [19]:
k_fold = 5

### Performing k-fold cross-validation for kNN

In [20]:
knn_cv_scores = cross_val_score(knn_model, X_train_scaled, y_train, cv=k_fold, scoring='accuracy')
average_knn_accuracy = knn_cv_scores.mean()

### Performing k-fold cross-validation for SVM

In [21]:
svm_cv_scores = cross_val_score(svm_model, X_train_scaled, y_train, cv=k_fold, scoring='accuracy')
average_svm_accuracy = svm_cv_scores.mean()

### Performing stratified k-fold cross-validation for kNN

In [22]:
stratified_knn_cv_scores = cross_val_score(knn_model, X_train_scaled, y_train, cv=StratifiedKFold(n_splits=k_fold), scoring='accuracy')
average_stratified_knn_accuracy = stratified_knn_cv_scores.mean()

### Performing stratified k-fold cross-validation for SVM

In [23]:

stratified_svm_cv_scores = cross_val_score(svm_model, X_train_scaled, y_train, cv=StratifiedKFold(n_splits=k_fold), scoring='accuracy')
average_stratified_svm_accuracy = stratified_svm_cv_scores.mean()

## Average Accuracy

In [24]:
print("Average kNN Accuracy (k-fold):", average_knn_accuracy)
print("Average SVM Accuracy (k-fold):", average_svm_accuracy)
print("Average kNN Accuracy (Stratified k-fold):", average_stratified_knn_accuracy)
print("Average SVM Accuracy (Stratified k-fold):", average_stratified_svm_accuracy)

Average kNN Accuracy (k-fold): 0.8114941396631539
Average SVM Accuracy (k-fold): 0.817147641091303
Average kNN Accuracy (Stratified k-fold): 0.8114941396631539
Average SVM Accuracy (Stratified k-fold): 0.817147641091303